<% peers = @store.get_peers %>
<% size = peers.map {|_, p| p[:left].to_i+p[:downloaded].to_i}.max %>
<header>
  <a href="/">bttrack</a> » <code><%= @store.info_hash.unpack('H*')[0] %></code>
  <% if size and size > 0 %>(<%= size_format(size) %>)<% end %>
</header>
<table>
  <thead>
    <tr>
      <th>Peers (<%= peers.count %>)</th>
      <th>IP</th>
      <th class="downloaded">Status</th>
      <th class="uploaded">Uploaded</th>
    </tr>
  </thead>
  <tbody>
    <% peers.each do |peer_id, peer| %>
      <tr>
        <td>
          <code><%= peer_id.unpack('H*')[0] %></code>
        </td>
        <td>
          <%= peer[:ip] %>:<%= peer[:port] %>
        </td>
        <td class="downloaded">
          <% if total = (peer[:downloaded].to_i + peer[:left].to_i) > 0 %>
            <%= peer[:downloaded].to_i * 100 / (peer[:downloaded].to_i + peer[:left].to_i) %> <sub>%</sub>
          <% else %>
            100 <sub>%<sub>
          <% end %>
        </td>
        <td class="uploaded">
          <%= size_format(peer[:uploaded].to_i) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>